/*
   colors!

   - note:
     fancy...
     12/3/2019
*/

body {
  background-color: rgb(var(--bg-red), var(--bg-grn), var(--bg-blu));
  overflow: hidden;
}

/* vars */
:root {
  --bg-red: 0;
  --bg-grn: 0;
  --bg-blu: 0;
  --y-offset: 0;
  --x-offset: 0;
}

/* class */
.red { color: tomato; }
.grn { color: greenyellow; }
.blu { color: dodgerblue; }
.center {
  margin: var(--y-offset) var(--x-offset) var(--y-offset) var(--x-offset);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.colorval {
  font-family: "Roboto Mono", sans-serif;
  line-height: 1;
  font-size: 4rem;
}